	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/09/2016 04:17
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bell:before { content: "\f100"; }
.flaticon-bell-echo:before { content: "\f101"; }
.flaticon-book-chat:before { content: "\f102"; }
.flaticon-book-sent:before { content: "\f103"; }
.flaticon-book-with-add:before { content: "\f104"; }
.flaticon-book-with-check:before { content: "\f105"; }
.flaticon-book-with-cloud:before { content: "\f106"; }
.flaticon-book-with-cross:before { content: "\f107"; }
.flaticon-book-with-cursor:before { content: "\f108"; }
.flaticon-book-with-download:before { content: "\f109"; }
.flaticon-book-with-eye:before { content: "\f10a"; }
.flaticon-book-with-heart:before { content: "\f10b"; }
.flaticon-book-with-loading:before { content: "\f10c"; }
.flaticon-book-with-lock:before { content: "\f10d"; }
.flaticon-book-with-refresh:before { content: "\f10e"; }
.flaticon-book-with-refreshing:before { content: "\f10f"; }
.flaticon-book-with-remove:before { content: "\f110"; }
.flaticon-book-with-star:before { content: "\f111"; }
.flaticon-book-with-star-1:before { content: "\f112"; }
.flaticon-book-with-time:before { content: "\f113"; }
.flaticon-book-with-upload:before { content: "\f114"; }
.flaticon-book-with-warning:before { content: "\f115"; }
.flaticon-books:before { content: "\f116"; }
.flaticon-browser:before { content: "\f117"; }
.flaticon-buy-books:before { content: "\f118"; }
.flaticon-donate:before { content: "\f119"; }
.flaticon-empty-state-books:before { content: "\f11a"; }
.flaticon-error-404-1:before { content: "\f11b"; }
.flaticon-error-404-2:before { content: "\f11c"; }
.flaticon-error-message:before { content: "\f11d"; }
.flaticon-library:before { content: "\f11e"; }
.flaticon-my-donation:before { content: "\f11f"; }
.flaticon-my-requests:before { content: "\f120"; }
.flaticon-profile:before { content: "\f121"; }
.flaticon-request:before { content: "\f122"; }
.flaticon-search:before { content: "\f123"; }
.flaticon-student-female:before { content: "\f124"; }
.flaticon-student-female-o:before { content: "\f125"; }
.flaticon-student-male:before { content: "\f126"; }
.flaticon-student-male-o:before { content: "\f127"; }
.flaticon-teacher-full:before { content: "\f128"; }
.flaticon-teacher-half:before { content: "\f129"; }
.flaticon-tick:before { content: "\f12a"; }